.containerItem {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  background-color: #3f3f3f;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  transition: background-color 0.5s ease;
}

.containerItem:hover {
  background-color: #565656;
  cursor: pointer;
}

.containerItemCopied {
  background-color: #4caf50 !important;
  transition: background-color 0.5s ease;
}

.content {
  display: flex;
  align-items: center;
  height: 100%;
}

.icon {
  color: white;
  text-align: start;
  font-size: 20px;
}

.label {
  color: white;
  font-size: 18px;
  margin-left: 10px;
  width: 90%;
  font-weight: normal;
  overflow-wrap: break-word;
  cursor: pointer;
}

.timestamp {
  display: flex;
  text-align: end;
  font-size: 15px;
  font-weight: bold;
  color: #2b2b2b;
  margin-top: 5px;
  margin-left: auto;
}
